.main-page {
    display: flex; /* Makes the main container a flex container */
    height: 100vh; /* Full viewport height */
    overflow-y: auto;
}

.content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow-y: auto; /* Change to 'auto' to allow scrolling */
    position: relative;
}



/* Media query for responsiveness */
@media (max-width: 768px) {
    .main-page {
        flex-direction: column; /* Stack vertically on smaller screens */
    }

    .sidebar {
        width: 100%; /* Full width for sidebar */
        height: auto; /* Height adjusts to content */
    }

    .content-container {
        flex-direction: column; /* Stack content vertically */
        width: 100%; /* Full width for content */
    }

    .centre-page, .overview {
        width: 100%; /* Full width for both pages */
        height: auto; /* Height adjusts to content */
    }
}
