.navbar {
  background-color: #eaa2d4;
  padding: 1rem;
  width: 100%;
  position: fixed; /* Ensures the navbar stays fixed */
  top: 0; /* Aligns the navbar to the top of the viewport */
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 10%;
  height: auto;
  margin-right: 0.5%;
}

.navbar-logo h1 {
  color: #5c5959;
}

.login-button {
  background-color: #d5597a; /* A darker shade to contrast with the navbar */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for a modern look */
  font-size: 1rem; /* Adjust font size if needed */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.login-button:hover {
  background-color: #c44d68; /* Slightly darker shade for hover effect */
}

.login-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Add custom focus style */
}

